# Enterprise Laravel Exclusions
.env
.env.*
/vendor
/node_modules
npm-debug.log
yarn-error.log
*.log

# Application Specific Caches
/bootstrap/cache/*
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/*.key
/storage/pail
/public/storage
/public/build
/public/hot
/public/fonts-manifest.dev.json

# Local Databases
*.sqlite
database/*.sqlite

# Testing cache
.phpunit.result.cache
/.phpunit.cache

# IDE and System Configurations
.idea/
.vscode/
.DS_Store
Thumbs.db
Homestead.json
Homestead.yaml
_ide_helper.php
/composer.phar
/auth.json
/.codex
/.cursor/
/.nova
/.zed
